<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.runtime.IAdaptable"
            id="AndroidTool.contribution1">
         <menu
               label="Android Tool"
               path="additions"
               id="AndroidTool.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Convert To ViewSet"
               class="androidtool.popup.actions.NewAction"
               menubarPath="AndroidTool.menu1/group1"
               enablesFor="1"
               id="AndroidTool.newAction">
         </action>
      </objectContribution>
   </extension>

</plugin>
